- page_title! t(".title"), :public_home

.ui.text.container
  %h1.ui.inverted.header
    = t(".title")
  %h2
    = t("app.owner")
  - if current_user
    = link_to dashboard_path, class: "ui huge primary button" do
      Dashboard
      %i.right.arrow.icon
  - else
    = link_to new_user_session_path, class: "ui huge primary button" do
      Sign in
      %i.right.arrow.icon
